/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

._container {
  max-width: 1220px !important;
  margin: 0 auto !important;
  padding: 0 30px !important; }

._blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: 5s -webkit-filter linear;
  transition: 5s -webkit-filter linear;
  transition: 5s filter linear;
  transition: 5s filter linear, 5s -webkit-filter linear; }

._calendarhide {
  display: none; }

.site-header {
  background: #fef0d5;
  padding: 18px 0 20px; }

.project-logo .image {
  height: 100px; }
  @media (max-width: 700px) {
    .project-logo .image {
      height: 59px; } }

.site-description {
  color: #22626c; }
  @media (max-width: 700px) {
    .site-description {
      text-align: center;
      margin: 17px 0 19px; } }
  .site-description .title {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    margin-bottom: 5px;
    font-size: 2em; }
    @media (max-width: 700px) {
      .site-description .title {
        font-size: 30px; } }
  .site-description .subtitle {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.02em;
    margin: 0;
    margin-top: 5px; }
    @media (max-width: 700px) {
      .site-description .subtitle {
        font-size: 15px; } }

.share-project {
  text-align: center;
  height: 56px; }

.normal-button {
  width: 92px;
  background: #d61f55;
  border-radius: 25px;
  font-size: 16px;
  border: 0;
  padding: 5px;
  margin-bottom: 9px;
  font-family: "Roboto Condensed", sans-serif;
  color: #f5f5f5; }
  .normal-button.-exe {
    padding: 4px 0 6px;
    width: 156px;
    background: #d61f55;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    color: #fef0d5;
    margin-top: 29px; }
  .normal-button:focus {
    outline: 0; }
  .normal-button:hover {
    cursor: pointer;
    background: #a91943; }

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 700px) {
    .header-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.project-logo {
  margin-right: 20px; }

.share-project {
  margin-left: auto; }
  @media (max-width: 700px) {
    .share-project {
      margin: 24px 0 0 0; } }

.main-content {
  background: #ffffff; }

.settings-panel {
  padding: 30px 0 12px; }
  @media (max-width: 700px) {
    .settings-panel {
      text-align: center;
      padding: 21px 0 13px; } }

.color-form {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.06em; }
  .color-form .colorchoose {
    margin-bottom: 4px; }
  .color-form .select {
    padding: 4px;
    border: 1px solid #bfb7a7;
    border-radius: 5px;
    width: 99px; }
  .color-form:hover {
    cursor: pointer; }
  .color-form .gamma[value="red"] {
    background: #ff4040;
    color: #39e639; }
  .color-form .gamma[value="blue"] {
    background: #0038a8;
    color: #fcd116; }
  .color-form .gamma[value="yellow"] {
    background: #fcd116;
    color: #0038a8; }
  .color-form .gamma[value="green"] {
    background: #39e639;
    color: #ff4040; }
  .color-form .gamma[value="gray"] {
    background: #9f9f9f;
    color: #4c4c4c; }

.table-calendar {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  /*border-collapse:collapse;*/
  border: 1px solid #336666;
  border-radius: .5em; }
  .table-calendar .monthname {
    text-align: center;
    font-size: 1.9em;
    font-weight: 400;
    color: #666666;
    margin: .1em .4em .3em .3em; }
  .table-calendar .weekday {
    font-size: 1.1em;
    font-weight: 400;
    color: #cccccc; }
    .table-calendar .weekday:last-child {
      color: #cc6699; }
  .table-calendar .daymonth {
    font-size: 1em;
    color: #666666; }
    .table-calendar .daymonth:nth-of-type(7) {
      color: #cc6699; }
  .table-calendar .daymonth:hover {
    cursor: pointer;
    background: #fef0d5; }

.month-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -30px; }

.table-calendar .weekday {
  padding-left: 0.45em;
  padding-right: 0.45em; }
  .table-calendar .weekday:first-child {
    padding-left: 0.9em; }
  .table-calendar .weekday:last-child {
    padding-right: 0.9em; }

.table-calendar .daymonth {
  padding-left: 0.45em;
  padding-right: 0.45em; }
  .table-calendar .daymonth:first-child {
    padding-left: 0.9em; }
  .table-calendar .daymonth:last-child {
    padding-right: 0.9em; }

.table-calendar .weekday {
  padding-top: .9em;
  padding-bottom: .4em; }

.table-calendar .daymonth {
  padding: .95em 0 .95em; }

.table-calendar {
  margin-top: 15px;
  margin-right: 30px; }
  .table-calendar .fas {
    font-size: 1.7em;
    margin-bottom: .2em;
    visibility: hidden; }
  .table-calendar .addmonth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .table-calendar .addmonth:hover {
      cursor: pointer; }
      .table-calendar .addmonth:hover .fas {
        color: #93aab0;
        visibility: visible; }
        .table-calendar .addmonth:hover .fas:hover {
          color: #336666; }

.popup-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.7); }
  .popup-container.-show {
    z-index: 1; }
  .popup-container.-hidden {
    display: none; }

.popup-form {
  font-family: "Roboto Condensed", sans-serif;
  background: #fef0d5;
  width: 300px;
  height: 238px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.51);
          box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.51); }
  .popup-form .title {
    font-size: 25px;
    margin: 0;
    padding-top: 35px; }
  .popup-form .subtitle {
    font-size: 19px;
    font-weight: 600;
    margin: 0;
    padding: 23px 0 9px; }
  .popup-form .inputwindow {
    width: 260px;
    height: 26px;
    border: 1px solid #a79f92;
    -webkit-box-shadow: inset 0 1px 0 #c7c7c7;
            box-shadow: inset 0 1px 0 #c7c7c7;
    background: #f5f5f5;
    margin: 0 auto; }
    .popup-form .inputwindow .inputtext {
      white-space: nowrap;
      overflow: hidden;
      font-size: 18px;
      margin: 3px 5px; }
