$color-title: #22626c;
$color-button: #f5f5f5;
$color-season: #ffffff;
$color-weekend: #cc6699;
$color-everyday: #666666;
$bg-button: #d61f55;
$font-header: 'Roboto Condensed', sans-serif;
$padding-tabl: .45em;
$padding-tabldubl: $padding-tabl*2;
$width-max: 1200px;
$width-min: 700px;

._container {
  max-width: 1220px !important;
  margin: 0 auto !important;
  padding: 0 30px !important;
}
._blur {
  filter: blur(5px);
  transition: 5s filter linear;
}

._calendarhide {
  display: none;
}

.site-header {
  background: #fef0d5;
  padding: 18px 0 20px;
}

.project-logo  {
  .image {
    height: 100px;

    @media (max-width: $width-min) {
      height: 59px;
    }
  }
}

.site-description {
  color: $color-title;

  @media (max-width: $width-min) {
    text-align: center;
    margin: 17px 0 19px;
  }

  .title {
    font-family: $font-header;
    margin: 0;
    margin-bottom: 5px;
    font-size: 2em;
    @media (max-width: $width-min) {
      font-size: 30px;
    }
  }

  .subtitle {
    font-family: $font-header;
    font-size: 1.02em;
    margin: 0;
    margin-top: 5px;

    @media (max-width: $width-min) {
      font-size: 15px;
    }
  }
}

.share-project {
  text-align: center;
  height: 56px;
}

.normal-button {
  width: 92px;
  background: $bg-button;
  border-radius: 25px;
  font-size: 16px;
  border: 0;
  padding: 5px;
  margin-bottom: 9px;
  font-family: $font-header;
  color: $color-button;

  &.-exe {
    padding: 4px 0 6px;
    width: 156px;
    background: #d61f55;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    color: #fef0d5;
    margin-top: 29px;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    cursor: pointer;
    background: darken($bg-button, 10%) ;
  }
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $width-min) {
    flex-direction: column;
  }
}

.project-logo {
  margin-right: 20px;
}

.share-project {
  margin-left: auto;

  @media (max-width: $width-min) {
    margin: 24px 0 0 0;
  }
}

.main-content {
  background: $color-season;
  }

.settings-panel {
  padding: 30px 0 12px;

  @media (max-width: $width-min) {
    text-align: center;
    padding: 21px 0 13px;
  }
}

.color-form {
  font-family: $font-header;
  font-size: 1.06em;

  .colorchoose {
    margin-bottom: 4px;
  }

  .select {
    padding: 4px;
    border: 1px solid #bfb7a7;
    border-radius: 5px;
    width: 99px;}
    &:hover {
      cursor: pointer;
    }
  .gamma {
    &[value="red"] {
      background: #ff4040;
      color: #39e639;
    }

    &[value="blue"] {
      background: #0038a8;
      color: #fcd116;
    }

    &[value="yellow"] {
      background: #fcd116;
      color: #0038a8;
    }

    &[value="green"] {
      background: #39e639;
      color: #ff4040;
    }

    &[value="gray"] {
      background: #9f9f9f;
      color: #4c4c4c;
    }
  }
}

.table-calendar {
  font-family: $font-header;
  text-align: center;
  /*border-collapse:collapse;*/
  border: 1px solid #336666;
  border-radius: .5em;

  .monthname {
    text-align: center;
    font-size: 1.9em;
    font-weight: 400;
    color: $color-everyday;
    margin: .1em .4em .3em .3em;
  }

  .weekday {
    font-size: 1.1em;
    font-weight: 400;
    color: #cccccc;
    &:last-child {
      color: $color-weekend;
    }
  }

  .daymonth {
    font-size: 1em;
    color: $color-everyday;
    &:nth-of-type(7) {
      color: $color-weekend;
    }
  }
  .daymonth:hover {
    cursor: pointer;
    background: #fef0d5;
  }
}

.month-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: -30px;
}

.table-calendar {
  .weekday {
    padding-left: $padding-tabl;
    padding-right: $padding-tabl;
    &:first-child {
      padding-left: $padding-tabldubl;
    }
    &:last-child {
      padding-right: $padding-tabldubl;
    }
  }
  .daymonth {
    padding-left: $padding-tabl;
    padding-right: $padding-tabl;

    &:first-child {
      padding-left: $padding-tabldubl;
    }

    &:last-child {
      padding-right: $padding-tabldubl;
    }
  }
}

.table-calendar {

  .weekday {
    padding-top: .9em;
    padding-bottom: .4em;
  }

  .daymonth {
    padding: .95em 0 .95em;
  }
}

.table-calendar {
  margin-top: 15px;
  margin-right: 30px;

  .fas {
    font-size: 1.7em;
    margin-bottom: .2em;
    visibility: hidden;
  }

  .addmonth {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;

      .fas {
        color: #93aab0;
        visibility: visible;

        &:hover {
          color: #336666;
        }
      }
    }
  }
}

.popup-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  //z-index: -1;
  background: rgba(255, 255, 255, 0.7);
  &.-show {
    z-index: 1;
  }
  &.-hidden {
    display: none;
  }

}

.popup-form {
  font-family: $font-header;
  background: #fef0d5;
  width: 300px;
  height: 238px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.51);

  .title {
    font-size: 25px;
    margin: 0;
    padding-top: 35px;
  }

  .subtitle {
    font-size: 19px;
    font-weight: 600;
    margin: 0;
    padding: 23px 0 9px;
  }
  .inputwindow {
    width: 260px;
    height: 26px;
    border: 1px solid #a79f92;
    box-shadow: inset 0 1px 0 #c7c7c7;
    background: $color-button;
    margin: 0 auto;


    .inputtext {
      white-space: nowrap;
      overflow: hidden;
      font-size: 18px;
      margin: 3px 5px;
    }
  }

}


